.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}

.gateway-image {
  max-width: 90%;
  max-height: 60vh;
  width: auto;
  height: auto;
  object-fit: contain;
}

.welcome-text {
  color: white;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}

.welcome-text span {
  font-weight: 900;
  color: #bf4588;
}
@media (max-width: 768px) {
  .welcome-text {
    font-size: 1.5rem;
  }
}
