---
# TCP Routing for MySQL Database
apiVersion: gateway.networking.k8s.io/v1alpha2
kind: TCPRoute
metadata:
  name: mysql-tcp-route
  namespace: demo-gw-migration
  labels:
    demo: gateway-migration
    protocol: tcp
    service: mysql
spec:
  parentRefs:
  - name: demo-gateway
    sectionName: mysql
  rules:
  - backendRefs:
    - name: catalogue-db
      port: 3306
